<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Task Tracker</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render TaskTrackerWeb.TaskView, "index.html",
            Map.put(assigns, :tasks, TaskTracker.Tasks.list_tasks) %>
    </div>
</div>