<div class="row">
    <div class="col-md-12">
        <h2>All users</h2>
        <%= render "list.html",
        Map.put(assigns, :users, TaskTracker.Users.list_users)%>

        <span><%= link "New User", to: user_path(@conn, :new), class: "btn btn-primary" %></span>
    </div>
</div>
