<h2>Account Details</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-primary" %></span>
<span><%= link "Back", to: page_path(@conn, :index), class: "btn btn-default" %></span>
